modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 39658473

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node hr-employee-backend/server.js"
